*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: auto;
}

a, h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 0rem;
}

