*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Playfair Display', serif;
}

.visually-hidden:not(:focus):not(:active), 
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px
	border: 0;
	padding: 0;
	
	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* -------------Styles for menu------------- */
.main-menu{
	text-align: center;
	margin-top: 77px;
	margin-bottom: 105px;
}

.main-menu-item{
	display: inline-block;
	margin-right: 110px;
}	

.main-menu-item:last-child {
	margin-right: 0;
}
.main-menu-link{
	text-transform: uppercase;
}

.main-menu-link:hover {
	color: #66FF37;
}

/* -----------Styles for artical-------------*/

.list{
	margin: auto;
	width: 900px;
}

.one-item, .two-item, .three-item{
	display: inline-block;
	width: 420px;
}

.left{
	margin-right: 56px;
}
img{
	padding-bottom: 32px;
}

h2{
	font-size: 14px;
	text-transform: uppercase;
	color: #b4ad9e;
	padding-bottom: 30px;
}

h3{
	font-size: 30px;
	color: #626262;
	padding-bottom: 46px;
}

p{
	font-size: 14px;
	color: #626262;
	padding-bottom: 130px;
	line-height: 24px;
}

a{
	text-decoration: none;
	color: #626262;
}

/* -------------Styles for button--------*/

.footer-end{
	text-align: center;
	margin-bottom: 50px;
}

.load-end{
	display: inline-block;
	font-size: 20px;
	text-align: center;
	padding: 25px 50px;
	border: 1px solid #626262;
}

.load-end:hover{
	background-color: #949494;
	color: #FFFFFF;
}