.yellow {
	height: 10rem;
	background-color: #FBF281;
}

.green {
	height: 10rem;
	background-color: #B8E986;
}


.col-md-9, .col-12 {
	padding-right: 0px;
	padding-left: 0px;
}

@media(min-width: 768px) {
	.yellow {
		height: 20rem;
	}

	.green {
		height: 20rem;
	}
}
