*{
	box-sizing: border-box;
	padding: 0;
	font-family: 'Playfair Display', serif;
}

.main-menu{
	text-align: center;
}

.main-menu-item{
	display: inline-block;
	margin-right: 15px;
}	

.main-menu-item:last-child {
	margin-right: 0;
}

.main-menu-link:hover {
	color: #FF05C5;
	border: 1px solid #ccc;
	background-color: #f0f0f0;
}
