.subtitle__inform--style {
	margin-bottom: 3.0625rem;
}

.team__text {
	width: 61.25rem;
	margin: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9375rem;
	color: #999999;
	margin-bottom: 6rem;
}

.team__foto {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 5.375rem;
	border-bottom: 0.0625rem solid #e5e5e5;
}

.team-card {
	width: 23.75rem;
	height: 29.375rem;
	position: relative;
	-webkit-transition-duration: 200ms;
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear; 
}

.clearfix {
  	display: table;
  	content: "";
 	clear: both;
}

.team-card__social {
	display: none;
	width: 23.75rem;
	height: 29.375rem;
	position: absolute;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(234,139,138,0.9)), to(rgba(242,226,145,0.9)));
	background: -webkit-linear-gradient(top, rgba(234,139,138,0.9), rgba(242,226,145,0.9));
	background: -o-linear-gradient(top, rgba(234,139,138,0.9), rgba(242,226,145,0.9));
	background: linear-gradient(to bottom, rgba(234,139,138,0.9), rgba(242,226,145,0.9));
	top: 0rem;
	left: 0rem;
	text-align: center;
	line-height: 29.375rem;
	cursor: pointer;
}

.team-card__fon {
	height: 29.375rem;
	background: #95e1d3;
	margin-bottom: 1.9375rem;
}

.team-card__item {
	width: 3.4375rem;
	height: 3.4375rem;
	background-color: #fce38a;
	font-size: 2.25rem;
	fill: #f38181;
	display: inline-block;
	line-height: 3.4375rem;
	-webkit-transition-duration: 200ms;
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

.team-card__link--facebook {
	width: 0.8125rem;
	height: 1.625rem;
}

.team-card__link--twitter {
	width: 1.625rem;
	height: 1.375rem;
}

.team-card__link--pinterest {
	width: 1.3125rem;
	height: 1.625rem;
}

.team-card__link--instagram {
	width: 1.625rem;
	height: 1.625rem;
}

.team-card__transition {
	-webkit-transition-duration: 200ms;
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

.team-card__info--title {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	text-align: center;
	margin-bottom: 1.1875rem;
}

.team-card__info--subtitle {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9375rem;
	font-weight: 300;
	font-style: italic;
	color: #999999;
	text-align: center;
}

.team-card__item:hover {
	background-color: #95e1d3;
}

.team-card__transition:hover {
	-webkit-transform: translate(-0.625rem, -0.625rem);
	-ms-transform: translate(-0.625rem, -0.625rem);
	transform: translate(-0.625rem, -0.625rem);
}

.team-card__transition:hover > .team-card__social {
	display: block;
}